* {
  margin: 0;
  padding: 0;
}

#bg {
  background-image: url('./public/Bg.png') !important;

  /* Full height */
  height: 100vh;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-repeat: no-repeat !important;
  background-size: cover !important;

  font-family: 'Inter', Courier, monospace, sans-serif;
}

main {
  display: flex;
  align-items: center;
  margin-left: 30px;
  align-items: center !important;
  padding: 80px;
  flex-direction: row !important;
  gap: 25%;
  justify-content: center;
}

#city-input {
  padding: 16px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  width: 400px;
  margin-top: 20px;
  text-transform: capitalize;
}

div.result {
  border: 1px solid #00acd6;
  border-radius: 16px;
  height: max-content;
  padding: 16px;
  width: 400px;
  text-align: center;
  z-index: 1;
}

div.results {
  display: flex;
  justify-content: center;
  gap: 26px;
}

div.result h4 {
  margin-bottom: 20px;
}

div.min,
div.max,
div.now {
  border: 1px solid #f9f9f9;
  border-radius: 16px;
  padding: 10px;
  min-width: 80px;
  min-height: 100px;
  margin-bottom: 12px;
}

div.temperatura {
  background-color: #00acd6;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 5px;
  color: #f9f9f9;
  font-weight: bold;
}

div.now {
  background-color: #f9f9f9;
  color: #00acd6;
}

.temp img {
  margin-top: 15px;
  width: 40px;
  height: 40px;
}
.form input:focus {
  outline: 3px solid #00acd6;
}

/*Responsividade*/

/* Mobile Devices */
@media (max-width: 480px) {
  #bg {
    display: block !important;
    height: auto;
    width: max-content !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
  }
  main {
    display: block;
    margin: 0;
    height: max-content;
    padding: 12px;
  }

  .div-form {
    width: 100% !important;
    padding: 0;
    margin-bottom: 50px;
    text-align: center;
  }

  .div-form img {
    width: 20vw;
    height: auto;
    margin-top: 20px;
    margin-bottom: 6px;
  }

  .div-form h1 {
    font-size: 18px;
  }
  .div-form p {
    font-size: 14px;
    text-align: center !important;
  }

  .form input {
    width: 300px !important;
    margin-top: 20px !important;
  }
  div.result {
    width: 300px;
    height: 160px;
  }

  div.min,
  div.max,
  div.now {
    border: 1px solid #f9f9f9;
    border-radius: 16px;
    padding: 6px;
    min-width: 75px;
    min-height: 94px;
    margin-bottom: 5px;
  }
}
